@import "variables";

.featured {
    width: 100%;
    max-width: $max-frame-width;
    margin: 0 auto;
    height: 384px;
    background: #ffffff;
}

.featured-title {
    display: flex;
}

.featured-svg {
    width: 18px;
    height: 24px;
    background: url("/assets/featured.svg");
}

.featured-txt {
    margin-left: 16px;
    margin-top: -8px;
    font-weight: lighter;
    font-family: var(--pt-font-futura-lt);
    font-size: 32px;
}

.title {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 28px;
    margin-left: 56px;
    margin-top: 48px;
}

.featured-slider {
    margin: 32px 56px 0;
    width: calc(100% - 112px);
}

.view-all-svg {
    background: url("/assets/view-all.svg") no-repeat;
    width: 16px;
    height: 14px;
}

.view-all {
    display: flex;
    width: 85px;
    justify-content: space-around;
    height: 16px;
    position: relative;
    align-items: center;
    font-family: var(--pt-font-sans);
    text-decoration: none;
    font-size: 14px;
    color: $primary-color;
}
